{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Item</td>
    <td class="info">Buying/Selling</td>
    <td class="info">Currency</td>
    <td class="info mobile">Rate</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for item in object_list %}
<tr>
    <td>{{item.item}}</td>
    <td>{% if item.buying %} Buying {% else %} Selling {% endif %}</td>
    <td>{{item.currency}}</td>
    <td  class='mobile'>{{item.rate}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                
                <a class="dropdown-item" href="{% url 'inventory:update-item-price'  pk=item.pk  %}">
                    <i class="fas fa-edit"></i> Update
                </a>

            </div>
        </div>
</tr>
{% endfor %} {% endblock %}